.landing_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 0 10vmax;
  text-align: center;
  position: relative;
  overflow: hidden;

  .text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    max-width: 600px;
    z-index: 100;

    h1 {
      font-size: 72px;
      text-align: start;
      font-weight: 600;
      font-family: 'Poppins';
      color: #F6F7FA
    }
    h6 {
      font-size: 18px;
      text-align: start;
      font-weight: 600;
      font-family: 'Poppins';
      color: #F6F7FA;
    }
    p {
      font-size: 14px;
      color: #8f929e;
      text-align: start;
      font-weight: 500;
      font-family: 'Poppins';
      letter-spacing: 0.05px;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0 5vmax;

    .text_container {
      h1 {
        font-size: 58px;
      }
      h6 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: 500px) {
    padding: 0 2vmax;

    .text_container {
      h1 {
        font-size: 48px;
      }
    }
  }

  .button_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;

    .button {
      display: flex;
      background: var(--accent-color);
      border-radius: 8px;
      border: none;
      font-size: 14px;
      font-weight: 600;
      font-family: 'Poppins';
      padding: 1rem 2rem;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      gap: 4px;
      &:hover {
        background: var(--accent-color-darkened);
      }
    }
  }

  .alliance_outline {
    position: absolute;
    top: 200px;
    right: 100px;
    rotate: 12deg;
    z-index: 10;
    transition: all 1s ease-in;

    @media (max-width: 1500px) {
      width: 750px;
    }
    @media (max-width: 1400px) {
      width: 650px;
      right: 50px;
    }
    @media (max-width: 1200px) {
      width: 650px;
      right: -50px;
    }
    @media (max-width: 1150px) {
      width: 550px;
      right: -50px;
    }
    @media (max-width: 1000px) {
      width: 550px;
      right: -50px;
      top: 100px;
    }
    @media (max-width: 500px) {
      width: 550px;
      right: -150px;
      top: 100px;
    }
  }

  .blob_1 {
    position: absolute;
    width: 528.92px;
    height: 327.27px;
    left: 0px;
    top: 65.41px;

    background:
      radial-gradient(
        30.8% 30.8% at 57.79% 54.71%,
      rgba(43, 24, 103, 0.24) 0%,
      rgba(56, 35, 131, 0.24) 48.71%,
      rgba(69, 40, 150, 0.24) 78.16%,
      rgba(118, 36, 142, 0.24) 100%
      );
    filter: blur(75px);
  }

  .blob_2 {
    position: absolute;
    width: 315.58px;
    height: 195.27px;
    left: -100px;
    bottom: 100px;

    background:
      linear-gradient(
        137.64deg,
      rgba(43, 24, 103, 0.3) 26.68%,
      rgba(56, 35, 131, 0.3) 55.42%,
      rgba(69, 40, 150, 0.3) 72.8%,
      rgba(118, 36, 142, 0.3) 85.68%
      );
    filter: blur(75px);
    transform: rotate(180deg);
  }

  .blob_3 {
    position: absolute;
    width: 177.99px;
    height: 110.13px;
    right: 50px;
    top: 0px;

    background:
      linear-gradient(
        137.64deg,
        rgba(43, 24, 103, 0.7) 26.68%,
        rgba(63, 41, 141, 0.7) 55.42%,
        rgba(69, 61, 154, 0.7) 72.8%,
        rgba(93, 106, 167, 0.7) 85.68%
      );
    filter: blur(75px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  .ellipse_1 {
    position: absolute;
    width: 444.23px;
    height: 328.23px;
    right: -193.9px;
    top: 556.93px;

    background: radial-gradient(
      30.8% 30.8% at 57.79% 54.71%,
      rgba(43, 24, 103, 0.24) 0%,
      rgba(56, 35, 131, 0.24) 48.71%,
      rgba(69, 40, 150, 0.24) 78.16%,
      rgba(118, 36, 142, 0.24) 100%
    );
    filter: blur(326px);
    transform: rotate(-60deg);
  }

  .ellipse_3 {
    position: absolute;
    width: 275.5px;
    height: 275.96px;
    border-radius: 50%;
    right: 300px;
    top: 324.18px;
    background: linear-gradient(
      90deg,
      rgba(69, 61, 154, 0.7) 10%,
      rgba(142, 41, 63, .6) 15%,
      rgba(43, 24, 103, 1) 100%
    );
    filter: blur(100px);
    transform: rotate(0deg) scale(1);
    animation: breathe 14s linear infinite;
    z-index: -1;
  }

  @keyframes breathe {
    0% {
      transform: rotate(0deg) translate(30px) scale(1, 1);
    }

    50% {
      transform: rotate(180deg) translate(30px) scale(1.56, 1);
    }

    100% {
      transform: rotate(360deg) translate(30px) scale(1, 1);
    }
  }

  .ellipse_2 {
    position: absolute;
    width: 626px;
    height: 114px;
    right: -476.42px;
    top: 321.93px;

    background:
      radial-gradient(
        30.8% 30.8% at 57.79% 54.71%,
        rgba(43, 24, 103, 0.24) 0%,
        rgba(56, 35, 131, 0.24) 48.71%,
        rgba(69, 40, 150, 0.24) 78.16%,
        rgba(118, 36, 142, 0.24) 100%
      );
    filter: blur(90px);
    transform: rotate(15deg);
  }

  .ellipse_4 {
    position: absolute;
    width: 832px;
    height: 589px;
    left: 912px;
    top: -119px;

    background: #1D1B27;
    filter: blur(210px);
  }
}