.fieldSection {
  background-color: #1A1A23;
  border: 1px solid #393939;
  border-radius: 8px;
  width: 400px;
}

.fieldSectionHeader {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  background-color: #21212C;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  color: #FFFFFF;
}

.inputs {
  padding: 12px 20px;
  display: none;
  overflow: hidden;
  flex-direction: column;
  gap: 16px;
}

.expanded {
  .inputs {
    display: flex;
    overflow: inherit;
  }
  .fieldSectionHeader {
    border-bottom: 1px solid #393939;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
}

.fieldRow {
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
}

.labelContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fieldLabel {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  color: #E8E8E8;
}

.secondaryLabel {
  font-size: 10px;
  font-weight: 400;
  line-height: 120%;
  color: #8A8AA0;
}

.fieldValue {
  width: 200px;
  padding-left: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .textValue {
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    color: #FFFFFF;
    width: inherit;
  }
}