.header {
  height: --header-height;
}

.columnContainer {
  display: flex;
  overflow-x: scroll;
  height: calc(100vh - var(--header-height));
}

.assetColumn {
  margin: 1rem 0 0 1rem;
  max-width: 600px;
}
